@model  List<Services> 

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Services</h3>
        </div>  
        <div class="col-6 text-end">
            @if(ViewData["allowUser"] == "yes")
            {
                <a asp-controller="Home" asp-action="AddServices" asp-route-id= class="btn btn-primary text-end"><i class="bi bi-plus-lg"></i></a>                
            }  
        </div>
    </div>
    <div>
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>Services</th>
                    <th>Estimated Time</th>
                    <th>Price</th>
                </tr>              
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EstimatedTime minutes</td>
                        <td>$@item.Price</td>
                        @if(ViewData["allowUser"] == "yes")
                        {
                            <td>
                            <div class="w-75 btn-group">
                                <a asp-controller="Home" asp-action="EditService" class="btn btn-primary"><i class="bi bi-pencil-square"> </i>Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="w-75 btn-group">
                                <a asp-controller="Home" asp-action="DeleteService" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Delete</a>
                            </div>
                        </td>
                        }   
                        <td><a asp-controller="Shiners" asp-action="Index" class="btn btn-primary">Select & Next</a></td>
                    </tr>                    
                }               
            </tbody>
        </table>
    </div>

</div>
